.text-center {
  text-align: center;
}

.product-card {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  text-align: center;
}

.product-card img {
  max-width: 100px;
  height: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.page-link:hover {
  text-decoration: underline;
}
